@{
    ViewData["Title"] = "SENAI 132";
}

<div class="text-center">
    <h1 class="display-4">BEM - VINDO</h1>
    <p>Sobre <a href="https://docs.microsoft.com/aspnet/core">Construindo Apps com ASP.NET Core</a>.</p>
</div>
